{% extends 'ScorekeeperBundle::base.html.twig' %}

{% block title %}SP SCOREKEEPER{% endblock %}

{% block body %}
    <p>Welkom op de SVOKK SP-scorekeeper.</p>
    <p>Op deze site worden de scores van alle Service Pistol wedstrijden in de interne competitie van SVOKK bijgehouden.</p>
    <p>Om gebruik te kunnen maken dien je eerst in te loggen.</p>
    <p>Heb je nog geen inlog-gegevens, stuur dan even een mailtje 
        naar <a href="mailto:rob.haverkort@ziggo.nl?Subject=Toegang Scorekeeper">rob.haverkort@ziggo.nl</a></p>

{% endblock %}
