{% extends 'ScorekeeperBundle::base.html.twig' %}

{% block title %}SP SCOREKEEPER{% endblock %}

{% block body %}
    <p>Welkom op de SVOKK SP-scorekeeper.</p>
    <p>Je vindt hier de uitslagen van de interne competitie SP van OKK.</p>
    <p>Heb je vragen/opmerkingen, stuur dan even een mailtje naar <a href="mailto:rob.haverkort@ziggo.nl">rob.haverkort@ziggo.nl</a>.</p>
{% endblock %}
