{% extends 'ScorekeeperBundle::base.html.twig' %}

{% block title %}SP SCOREKEEPER{% endblock %}

{% block body %}
    <h1>Competities</h1>
    <table>
        {% for league in leagues %}
            <tr>
                <td>
                    <a href="{{ path('league_view',{'league_id': league.id}) }}">
                        {{ league.name }}
                    </a>
                </td>
            </tr>
        {% endfor %}
    </table>

{% endblock %}
