/* 
    Created on : Mar 31, 2015, 10:03:42 AM
    Author     : rob
*/

table, th, td {
    font-family: verdana,arial;
    font-size: 12px;
    border: 1px solid black;
    padding: 2px;
    text-align: right;
    border-collapse: collapse;
}

