{% extends 'ScorekeeperBundle::base.html.twig' %}

{% block title %}SP SCOREKEEPER{% endblock %}

{% block body %}
    <table>
        <tr>
            <td>username:</td>
            <td>{{ user.name }}</td>
        </tr>
        <tr>
            <td>email:</td>
            <td>{{ user.email }}</td>
        </tr>
        <tr>
            <td>active:</td>
            <td>{{ user.isActive }}</td>
        </tr>
        <tr>
            <td>roles:</td>
            
        </tr>
    </table>
{% endblock %}